body{
    text-align:center;
}
#menu{
    display:inline;
}
#Navbar{
    background-color:black;
    text-align:left;
}
#videos{
    width:100%;
    height:500px;
    border:none;
}
#church{
    width:70%;
} img{
    width:100%;
}
.movie_head{
    font-size:20px;
    padding:6px 22px;
    border-radius:10px;
    margin-bottom:15px;
}
.movie_head i{
    float: right;
}
.achievements_text span{
    color:orange;
}